
*{

    margin: 0px;

}

.nav_container{

    display:flex;
    height: 5vh;

}


.nav_button{

    margin-left:auto;

}

.toggled_Links_Container{

    display: block;
    background-color: beige;
        
}

.Links_Container{

    display: none;
    background-color: beige;

}

body{

    background-color: black;
    color:#F0E728;
    font-family: 'Courier Prime', monospace;

}

.alternate_body{

    background-color: beige;
    color: black;
    font-family: 'Courier Prime', monospace;

}

p{
    margin-top:1rem;
}

a{

    color:green;

}

li{

    color:red;

}

dt{

    color:orange;
    margin-left:1rem;

}

dd{

    color:red;
    margin-left:2rem;

}


#flexbox{

    display:flex;

}

.flex_container{

    flex-basis:50%;
    margin-right:2rem;

}

#image{

    flex: 0 0 auto;
    height: 80vh;
    width: auto;
    flex-shrink: 2;
    

}

#content{

    flex: 1 1 auto;

}

#Checkbox_Container{

    margin-left: 1vw;

}

@media (min-width: 600px) {



    .nav_button{

        display:none;

    }

    .Header_Container{

        display:flex;

    }

    .Links_Container{

        margin-left: 2vw;
        display: block;
        background-color: beige;
    
    }

    .toggled_Links_Container{

        margin-left: 2vw;
        display: block;
        background-color: beige;
            
    }

  }